<ion-card>
  <ion-card-header>
    <ion-text color="secondary">Terminal</ion-text>
  </ion-card-header>

  <ion-item lines="none">
    <ion-textarea
      #terminalTextArea
      readonly
      rows="10"
      placeholder="Incoming data will appear here"
      class="terminal-textarea"
      [value]="data()"
    ></ion-textarea>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          expand="block"
          color="secondary"
          (click)="onClickClearTerminal()"
          >Clear Terminal</ion-button
        >
      </ion-col>
      <ion-col size="auto">
        <ion-button
          fill="clear"
          color="secondary"
          (click)="onClickTerminalAdvancedModal()"
        >
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-terminal-advanced-modal />
</ion-card>
