<ion-card>
  <ion-card-header>
    <ion-text color="secondary">Terminal</ion-text>
  </ion-card-header>

  <ion-card-content>
    <ion-item lines="none">
      <ion-textarea
        #terminalTextArea
        readonly
        [rows]="terminalOptions().rows"
        placeholder="Incoming data will appear here"
        class="terminal-textarea"
        [value]="data()"
      ></ion-textarea>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
            [color]="
              isPausedSubject.getValue() && isOpen() ? 'danger' : 'secondary'
            "
            [disabled]="!isOpen()"
            (click)="onClickPauseTerminal()"
          >
            <ion-icon
              slot="start"
              [name]="
                isPausedSubject.getValue() && isOpen()
                  ? 'pause-outline'
                  : 'play-outline'
              "
            ></ion-icon>
            {{ isPausedSubject.getValue() && isOpen() ? 'Continue' : 'Pause' }}
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button
            expand="block"
            color="secondary"
            (click)="onClickClearTerminal()"
          >
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            Clear
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button
            fill="clear"
            color="secondary"
            (click)="onClickTerminalAdvancedModal()"
          >
            <ion-icon name="settings-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<app-terminal-advanced-modal-component
  [clearTerminalSubject]="clearTerminalSubject"
  [(terminalOptions)]="terminalOptions"
/>
