<ion-card>
  <ion-card-header>
    <ion-text color="secondary">Plotter</ion-text>
  </ion-card-header>

  <ion-card-content>
    <apx-chart
      [series]="series()"
      [chart]="chartOptions().chart"
      [tooltip]="chartOptions().tooltip"
      [xaxis]="chartOptions().xaxis"
      [yaxis]="chartOptions().yaxis"
      [grid]="chartOptions().grid"
      [stroke]="chartOptions().stroke"
      [dataLabels]="chartOptions().dataLabels"
      [legend]="chartOptions().legend"
      [markers]="chartOptions().markers"
    />

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
            [color]="
              isPausedSubject.getValue() && isOpen() ? 'danger' : 'secondary'
            "
            [disabled]="!isOpen()"
            (click)="onClickPauseSeries()"
          >
            <ion-icon
              slot="start"
              [name]="
                isPausedSubject.getValue() && isOpen()
                  ? 'pause-outline'
                  : 'play-outline'
              "
            ></ion-icon>
            {{ isPausedSubject.getValue() && isOpen() ? 'Continue' : 'Pause' }}
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button
            expand="block"
            color="secondary"
            (click)="onClickClearSeries()"
          >
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            Clear
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button
            fill="clear"
            color="secondary"
            (click)="onClickPlotterAdvancedModal()"
          >
            <ion-icon name="settings-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<app-plotter-advanced-modal-component
  [(plotterOptions)]="plotterOptions"
  (clearChart)="onClickClearSeries()"
/>
