<ion-modal #terminalAdvancedModal id="terminal-advanced-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Advanced Terminal Settings</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="terminalAdvancedModal.dismiss()"
            >Close</ion-button
          >
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="full">
        <ion-item>
          <ion-select
            label="Encoding"
            placeholder="Select Encoding"
            justify="space-between"
            (ionChange)="onChangeTerminalEncoding($event)"
            [value]="terminalOptions().encoding"
          >
            <ion-select-option value="ascii">ASCII</ion-select-option>
            <ion-select-option value="hex">Hex</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-checkbox
            justify="space-between"
            checked="{{ terminalOptions().showTimestampsEnabled }}"
            (ionChange)="onChangeShowTimestamps($event)"
            >Show Timestamps</ion-checkbox
          >
        </ion-item>

        <ion-item>
          <ion-checkbox
            justify="space-between"
            checked="{{ terminalOptions().isAutoScrollEnabled }}"
            (ionChange)="onChangeAutoScroll($event)"
            >Auto Scroll</ion-checkbox
          >
        </ion-item>

        <ion-item>
          <ion-range
            labelPlacement="start"
            label="Scrollback length"
            [pin]="true"
            [snaps]="true"
            [min]="0"
            [max]="4"
            [step]="1"
            [pinFormatter]="pinFormatter"
            [value]="
              SCROLLBACK_LENGTH_VALUES.indexOf(
                terminalOptions().scrollbackLength
              )
            "
            (ionKnobMoveEnd)="onScrollbackLength($event)"
          >
          </ion-range>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
